.vouchers-container {
    margin: 15px auto;
}

.voucher-title {
    text-align: center;
}

.vouchers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
    .vouchers {
        display: grid;
        grid-template-columns: auto auto;
    }

    .voucher {
        width: 45vw;
    }

    @media screen and (max-width: 700px) {
        .vouchers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .voucher {
            width: 50vw;
        }
    }
}