.scropTop-btn {
    position: fixed;
    width: 100%;
    left: 95%;
    // right: 50%;
    bottom: 60px;
    height: 20px;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    color: #106cc0;
}