.nav {
    height: 80px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #555;

    .wrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ad-banner {
            // color: white;
            // background-color: #106CC0;
            // background: radial-gradient(circle at center, #83b9ec, #106CC0);
            color: rgb(112, 112, 112);
            border: 3px dashed;
            padding: 5px;
            border-image-source: linear-gradient(45deg, #106CC0, #ffd6a3);
            border-image-slice: 1;
        }

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 18px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;

            .item {
                display: flex;
                align-items: center;
                margin-right: 30px;
                position: relative;

                .icon {
                    font-size: 24px;
                }

                .avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}