.order-infor {
    width: 100%;
    justify-content: center;
    
    .my-order-content-booked {
        .book-infor-total {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn-danger {
                // background-color: #EF0000;
                min-width: 100px;
            }

            &-price {
                margin-top: 50px;
                font-weight: 600;
                span {
                    color: #EF0000;
                    font-weight: normal;
                }
            }
        }
    }
}