.admin-blog-new-form-infor {
    .admin-form-infor-heading {
        margin: 30px 0 0 30px;
    }

    .admin-blog-new-form-infor-body {
        margin-left: 20px;

        .add-blog-label {
            width: 100%;
            font-weight: 500;
        }

    }

    .blog-editor {
        margin-bottom: 20px;
    }

    .btn {
        border: none;
        padding: 6px;
        color: #fff;
        min-width: 56px;
    }

    .btn-submit {
        background-color: #106CC0;
        margin-right: 30px;
    }

    .btn-reset {
        background-color: #FF9933;
    }
}