.my-account-form {

    .my-account-form-infor {
        background-color: #dfeeef;
        padding: 30px;
        margin-bottom: 20px;

        .form-infor-body {
            border-radius: 4px;
            background-color: white;
        }
    }

    .my-account-form-password {
        background-color: #dfeeef;
        padding: 30px;

        .form-password-body {
            border-radius: 4px;
            background-color: white;

        }
    } 
}