.book-item {
    margin: 1.5rem 2rem;
    border-radius: 10px;
    list-style: none;
    display: inline-block;
}

.book-item-container {
    width: 100%;
    /* width: 100%; */
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
    min-height: 400px;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    flex: 1 0 25%;
}

.book-item-img-wrap {
    position: relative;
    /* width: 100%; */
    height: 220px;
    padding-top: 108%;
}

.book-item-img {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    max-width: 100%;
    height: 100%;
    /* max-height: 100%; */
    object-fit: cover;
    transition: all 0.2s linear;
}

.book-item-img:hover {
    transform: scale(1.1);
}

.book-item-title {
    color: black;
}

.book-item-author {
    color: #3d3d3d;
    font-weight: 300;
    cursor: default;
    margin: 0;
}

.book-item-title,
.book-item-author {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 28px;
    min-height: 28px;
}

.book-item-title {
    max-height: 50px;
    min-height: 50px;
}

.book-item-rate-stock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.star-filled,
.star-unfilled,
.star-halffilled {
    color: #f9bf08;
    /* font-size: 10px; */
    transform: scale(1);
    margin-right: 2px;
}

.rating-container {
    display: flex;
}

.line {
    /* margin-left: 1px solid black; */
    width: 1px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.371);
}

.sold {
    padding: 0 5px;
}

.book-item-prices {
    display: flex;
    justify-content: space-between;
}

.book-item-prices>p:first-child {
    color: #106CC0;
    text-decoration: line-through;
}

.book-item-prices>p:nth-child(2) {
    color: #FF424E;
    text-align: right;
    padding-right: 5px;
}

@media screen and (max-width: 960px) {
    @media screen and (max-width: 700px) {
        .book-item {
            transform: scale(0.8);
        }
    }
}