//
.basket-header {
  margin-top: 50px;

  &__steps {
    list-style: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    list-style-type: none;
    text-align: center;
    height: 38px;
    display: flex;
    background-color: #bebebe;
    text-transform: uppercase;
    padding: 0;

    &__item {
      float: left;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      width: 100%;
      line-height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 500;

      &.active {
        background-color: #1982cf !important;
        pointer-events: none;
      }
      &__tagName {
        text-decoration: none;
        color: #fff;
      }
    }
    .progress-step-split {
      float: left;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      line-height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 38px;
      background-size: 30px 38px;
      // background-color: #bebebe;
      // background-color: #1982CF;
      display: block !important;
      overflow: hidden;
      width: 100px;
    }
    // .progress-step-split_2{

    // }
    .progress-step-split::before {
      content: "";
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 50px;
      height: 50px;
      border: 4px solid #fff;
      border-left: transparent;
      border-bottom: transparent;
      left: -32px;
      position: relative;
      // background-color: red;
      display: inline-block;
      background-color: #bebebe;
      // background-color: #1982CF;
      top: -6px;
      z-index: 99;
    }

    .progress-step-split.active.progress-step_1::before {
      background-color: #1982cf;
      // background-color: #bebebe;
    }
    .progress-step-split.active.progress-step_2::before {
      background-color: #1982cf;
    }
    .progress-step-split.active.progress-step_1 {
      // background-color: #1982CF;
      background-color: #bebebe;
    }
    .active_step_next {
      background-color: #1982cf;
    }
    .active.progress-step_2.active_step_next::before {
      // background-color: #1982CF;
      background-color: #bebebe;
    }
  }
}
