.containerForgotPassWord {
    border: 1px solid #ccc;
    width: 40vw !important;
    margin-top: 3%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    // background-color: aquamarine;

    .ForgotPassWordForm {
        padding: 10px;

        h4 {
            color: #106cc0;
            text-align: center;
            margin-top: 10px;
            font-weight: 700;
        }
    }
}