.return-container {
    margin-top: 20px;
}

.return-title {
    display: flex;
    padding: 0 0 10px 0;
    border-bottom: solid 2px #106CC0;
}

.return-title p {
    font-weight: 500;
    font-size: 30px;
    margin: auto 20px;
}

.return-title img {
    width: 50px;
}

.return-content {
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}

.return-content img {
    width: 55%;
    display: block;
    margin: 10px auto;
}

.conclusion {
    font-weight: bold;
    font-style: italic;
}